/* Styles go here */
html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 0 50px;

  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo {
  cursor: pointer;
}

.nav__list {
  display: flex;
  align-items: center;

  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.nav__link {
  height: 60px;
  display: flex;
  align-items: center;

  text-decoration: none;
  text-transform: uppercase;
  color: #000;

  transition: color 0.3s;
  cursor: pointer;
}

.nav__link:hover {
  color: #00acdc;
}

.nav__link.is-active {
  position: relative;
  color: #00acdc;
}

.nav__link.is-active::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;

  background-color: #00acdc;
}
